@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Semibold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/Myriad-Pro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro-LightIt.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "HelveticaC";
    src: url("../fonts/HelveticaC.otf") format("opentype");
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'HelveticaC';
    src: url('../fonts/HelveticaC-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaC';
    src: url('../fonts/HelveticaC-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'HelveticaC';
    src: url('../fonts/HelveticaC-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

html, body, p, h1, h2, h3, h4, h5, h6, span {
    font-family: "MyriadPro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.helvetica {
    font-family: 'HelveticaC', Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

p {
    font-size: 14pt;
}

.text-black-custom {
    color: #999a99!important;
}

.fa-stack {
    color: #6bb445;
}

.carousel{
    width:100%;
}

.carousel-item>img {
    object-fit: cover;
    height: 456px;
    width: 100%;
    object-position: left bottom;
}

#slider1 .carousel-item>img {
    object-position: right !important;
}

@media (min-width: 460px) and (max-width: 991px)  {
  .carousel-item>img {
    height: 600px;
  }
  #slider2 .carousel-item>img {
    height: 400px;
  }
}

.carousel-caption {
  height: 100%;
  width: 100%;
    position: absolute;
    top: 5%;
    bottom: 10%;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

#slider1 .carousel-caption h4, #slider2 .carousel-caption h4 {
    font-size: 2.1rem;
    padding: 5px;
    font-weight: bold;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)); */
}

#slider2 .carousel-caption h3 {
    font-size: 2.5rem;
    padding: 5px;
    font-weight: bold;
}

/* #slider1 .carousel-caption h4, #slider2 .carousel-caption h4 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0% , rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.9) 50%);
} */

.carousel-caption ul.list-unstyled>li>img {
    height: 20px;
    width: auto;
    margin-right: 10px;
    vertical-align:middle
}

.carousel-caption ul.list-unstyled>li {
    color: black;
    font-size: 14pt;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0);
}

.carousel-indicators > li {
    width: 10px;
    height: 10px;
    color: #6bb445;
    background-color: #6bb445;
}

section.th-block {
    padding: 50px 0 50px 0;
}

.carousel-caption p {
    color: #999a99;;
}

section h2 {
    font-weight: bold;
}

#slider1 h4 {
    color: #7fb0d5;
}

.consultation {
    background-image: url('../images/bg-light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.consultation h2, .name, #slider2 h4, .text-green {
    color: #76b954;
}

.btn-green {
    color: #fff;
    font-size: 16pt;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #76b954;
    font-weight: bold;
}

.btn-green:hover {
    color: #fff;
    background-color: #619943;
}

input[type="checkbox"] {
    display: none;
}

.th-block label {
    color: #000;
    cursor: default;
    font-weight: bold;
    line-height: 20px;
    padding: 0 0;
    vertical-align: middle;
}

.th-block label:before {
    content: " ";
    color: #000;
    display: inline-block;
    /* шрифт Awesome*/
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}

input:checked + label:before {
    /* глифон - галочка */
    content: "\f00c";
}

input:disabled + label:before {
    background: #eee;
    color: #aaa;
}

#seal {
    background: url("../images/backgr-seal.png");
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.9);
    background-size: cover;
}
#seal ul li {
    line-height: 20px;
}
#seal ul li::before {
    content: "•";
    display: inline-block;
    width: .5em;
    font-size: 2em;
    color: #76b954;
}
#seal .border {
    border-color: #999a99!important;
    border-radius: 2px;
}

/* #slider3 h3 {
    background-color: #76b954;
} */
#slider3 h4 {
    font-size: 1.7rem;
}

@media (min-width: 576px) {
    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}
#about {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5),  rgba(255, 255, 255, 1)), url("../images/backgr-about.png");
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.9);
    background-size: cover;
}

.link-green {
    color: #609644;
    border-bottom: 2px solid #76b954;
    text-decoration: none;
}

.link-green:hover {
    color: #4b7336;
    text-decoration: none;
}
.link-green:focus {
    color: #4b7336;
    text-decoration: none;
}

.white-bg-liner {
    background: linear-gradient(to right, transparent 30%, rgb(255, 255, 255) ,transparent 30%);
}

#reviews {
    background-image: url("../images/rew.png");
    background-repeat: no-repeat;
    background-size: cover;
}
hr {
    height: 2px; /* Толщина линии */
}

a.end-link {
    font-style: italic;
    text-decoration-color: black;
    text-decoration: underline;
    color:black;
    cursor: pointer;
}

a.end-link:hover {
    font-style: italic;
    text-decoration-color: black;
    text-decoration: underline;
    color:black;
}

a.end-link:focus {
    font-style: italic;
    text-decoration-color: black;
    text-decoration: underline;
    color:black;
}

#map {
    position: relative;
    height: 400px;
}
#map > .info {
    max-width: 200px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 10%;
    background-color: #76b954;
    color: white;
}
footer {
    background-color: #e2e3e3;
    color: black;
}

#wooman {
    position: absolute;
    bottom: 0;
    right: 0;
}

#slider4 .item > img {
    height: 300px !important;
    width: auto !important;
    object-fit: cover;
}

#slider3 .carousel-control-next-icon, #slider3 .carousel-control-prev-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

#slider3 .carousel-control-next, #slider3 .carousel-control-prev {
    z-index: 1000;
}


.bg-green {
  background-color: #76b954;
}

.bg-blue {
  background-color: #6cb4d3;
}

.text-blue {
  color: #6cb4d3;
}

.text-red {
  color: #d14941;
}

.bg-red {
  background-color: #d14941;
}

.bg-purple {
  background-color: #e576b8;
}

.text-purple {
  color: #e576b8;
}

#spoiler_1, #spoiler_2 {
    overflow: hidden;
    height: 30px;
}
#spoiler_1.active, #spoiler_2.active {
    height: auto;
}

.block-cost:before {
    border-bottom: 2px solid red;
    position: absolute;
    content: "";
    width: 80%;
    height: 50%;
    margin-left: 10%;
    transform: rotate(-20deg);
}
.block-cost:after {
    border-bottom: 2px solid red;
    position: absolute;
    content: "";
    width: 80%;
    margin-left: -90%;
    height: 50%;
    transform: rotate(20deg);
}

.block-cost {
    position: relative;
}

.tick-to-list-red {
    position: relative;
}

.tick-to-list-red:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    color: red;
    background: red;
    margin-top: 12px;
    margin-left: -10px;
    border: 1px solid red;
}

.border.border-dark {
    border-color: #999a99!important;
}

.text-gray {
    color: #999a99;
}

h2.text-gray {
    font-size: 2rem;
}

.liner-green {
 background: linear-gradient(to right, rgba(119, 186, 84, 0.3) 0%, rgba(255, 255, 255, 0) 80%,  rgba(119, 186, 84, 0.3) 100%);
}

.tick-to-list-green {
    position: relative;
    font-size: 1.3rem;
}

.tick-to-list-green:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    color: green;
    background: green;
    margin-top: 12px;
    margin-left: -10px;
    border: 1px solid green;
}
.main-content .item{
    margin: 10px;
}
.main-content {
    position: relative;
  }
  .main-content .owl-theme .custom-nav {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
  .main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
  }
  .main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
  }
  .main-content .owl-theme .custom-nav .owl-prev {
    left: -50px;
    color: green;
  }
  .main-content .owl-theme .custom-nav .owl-next {
    right: -50px;
    
  }
  .owl-next>i, .owl-prev>i {
    color: green!important;
  }